$.WRITESSD diff=bbcbasic
$.DFSIMG diff=bbcbasic
$.TEST99 diff=bbcbasic
$.COPYROMS diff=bbcbasic
$.BPUT-TEST diff=bbcbasic
$.BPUT1 diff=bbcbasic
$.BPUT2 diff=bbcbasic
$.BGET1 diff=bbcbasic
$.BGET2 diff=bbcbasic
$.LOOPTEST diff=bbcbasic
$.TESTS diff=bbcbasic
$.TUTEST diff=bbcbasic
