* -text
$.BOOTSTRAP diff=bbcbasic
$.BOOTSTRAP2 diff=bbcbasic
$.FS-TEST diff=bbcbasic
$.HELLO diff=bbcbasic
$.ROMS diff=bbcbasic
B.AVR diff=bbcbasic
B.AVR2 diff=bbcbasic
B.TUBE diff=bbcbasic
T.PC-TO-BBC diff=bbcbasic
T.BBC-TO-PC diff=bbcbasic
$.SPEEDTEST diff=bbcbasic
$.SPEEDTEST2 diff=bbcbasic
$.SPEEDTEST3 diff=bbcbasic
$.RTOOL diff=bbcbasic
$.IMAGER diff=bbcbasic
$.SELFUPDATE diff=bbcbasic
$.MENU diff=bbcbasic
